$sizes: 20;

@mixin margin-classes {
  @for $i from $sizes through 0 {
    $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m-#{$i} {
      margin: $margin !important;
    }
    .ml-#{$i} {
      margin-left: $margin !important;
    }
    .mr-#{$i} {
      margin-right: $margin !important;
    }
    .mt-#{$i} {
      margin-top: $margin !important;
    }
    .mb-#{$i} {
      margin-bottom: $margin !important;
    }
    .mx-#{$i} {
      margin-left: $margin !important;
      margin-right: $margin !important;
    }
    .my-#{$i} {
      margin-top: $margin !important;
      margin-bottom: $margin !important;
    }
  }
}
@include margin-classes;

@mixin padding-classes {
  @for $i from $sizes through 0 {
    $padding: $i * 0.25rem;
    /* padding #{$padding} */
    .p-#{$i} {
      padding: $padding !important;
    }
    .pl-#{$i} {
      padding-left: $padding !important;
    }
    .pr-#{$i} {
      padding-right: $padding !important;
    }
    .pt-#{$i} {
      padding-top: $padding !important;
    }
    .pb-#{$i} {
      padding-bottom: $padding !important;
    }
    .px-#{$i} {
      padding-left: $padding !important;
      padding-right: $padding !important;
    }
    .py-#{$i} {
      padding-top: $padding !important;
      padding-bottom: $padding !important;
    }

    @media (min-width: 1200px) {
      .p-xl-#{$i} {
        padding: $padding !important;
      }
      .pl-xl-#{$i} {
        padding-left: $padding !important;
      }
      .pr-xl-#{$i} {
        padding-right: $padding !important;
      }
      .pt-xl-#{$i} {
        padding-top: $padding !important;
      }
      .pb-xl-#{$i} {
        padding-bottom: $padding !important;
      }
      .px-xl-#{$i} {
        padding-left: $padding !important;
        padding-right: $padding !important;
      }
      .py-xl-#{$i} {
        padding-top: $padding !important;
        padding-bottom: $padding !important;
      }
    }

    @media (min-width: 992px) {
      .p-lg-#{$i} {
        padding: $padding !important;
      }
      .pl-lg-#{$i} {
        padding-left: $padding !important;
      }
      .pr-lg-#{$i} {
        padding-right: $padding !important;
      }
      .pt-lg-#{$i} {
        padding-top: $padding !important;
      }
      .pb-lg-#{$i} {
        padding-bottom: $padding !important;
      }
      .px-lg-#{$i} {
        padding-left: $padding !important;
        padding-right: $padding !important;
      }
      .py-lg-#{$i} {
        padding-top: $padding !important;
        padding-bottom: $padding !important;
      }
    }

    @media (min-width: 768px) {
      .p-md-#{$i} {
        padding: $padding !important;
      }
      .pl-md-#{$i} {
        padding-left: $padding !important;
      }
      .pr-md-#{$i} {
        padding-right: $padding !important;
      }
      .pt-md-#{$i} {
        padding-top: $padding !important;
      }
      .pb-md-#{$i} {
        padding-bottom: $padding !important;
      }
      .px-md-#{$i} {
        padding-left: $padding !important;
        padding-right: $padding !important;
      }
      .py-md-#{$i} {
        padding-top: $padding !important;
        padding-bottom: $padding !important;
      }
    }
    @media (min-width: 576px) {
      .p-sm-#{$i} {
        padding: $padding !important;
      }
      .pl-sm-#{$i} {
        padding-left: $padding !important;
      }
      .pr-sm-#{$i} {
        padding-right: $padding !important;
      }
      .pt-sm-#{$i} {
        padding-top: $padding !important;
      }
      .pb-sm-#{$i} {
        padding-bottom: $padding !important;
      }
      .px-sm-#{$i} {
        padding-left: $padding !important;
        padding-right: $padding !important;
      }
      .py-sm-#{$i} {
        padding-top: $padding !important;
        padding-bottom: $padding !important;
      }
    }
  }
}
@include padding-classes;
