$primary-font: "Montserrat", sans-serif;
$secondary-font: "Crimson Text", serif;
$white: #ffffff;
$dark: #343e5c;
$primary: #2754eb;
$success: #00e2aa;
$info: #00deea;
$secondary: #e3e8f0;
$secondary-alt: #f0f2f7;
$paragraph: #b9bed1;
$paragraph-alt: #a1a8bd;
$black: #1c1e23;
$footer-bg: #222328;
$content-bg: #e4e5e7;
