@import "./variable";
@import "./spacing";
@import "./font";
@import "./color";
.body,
#app {
  font-family: $primary-font !important;
  margin: 0 !important;
}

.btn-shadow {
  box-shadow: 0px 6px 30px -12px $black;
}

.border-2 {
  border-width: 2px !important;
}

.max-w-xs {
  max-width: 330px !important;
}

.max-w-5xl {
  max-width: 64rem !important;
}

.w-6 {
  width: 24px !important;
}
.w-44px {
  width: 44px !important;
}
.w-72px {
  width: 72px !important;
}
.w-110px {
  width: 110px !important;
}
.w-162px {
  width: 162px !important;
}

.w-200px {
  width: 200px !important;
}

.h-6 {
  height: 24px !important;
}
.h-44px {
  height: 44px !important;
}
.h-200px {
  height: 200px !important;
}

.h-300px {
  height: 300px !important;
}
.h-500px {
  height: 500px !important;
}

// Navbar Active Customization
.nav .nav-item .nav-link.active {
  color: $dark !important;
}

.slider-img-cover {
  background-size: 160% 160% !important;
}

.background-center {
  background-position: center !important;
}

.object-cover {
  object-fit: scale-down;
}
.object-center {
  object-position: bottom;
}

@media (min-width: 992px) {
  .scale-lg-150 {
    transform: scale(2, 1.9) !important;
  }
}

// Home page slider carasole
.custom-indicators li {
  width: 8px;
  height: 8px;
  border: 1px solid $white;
  border-radius: 100%;
  background-color: transparent;
}
.custom-indicators li.active {
  background-color: $white;
}

.carousel-control-button {
  width: 42px;
  height: 42px;
  border: 1px solid $white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

// Custom Check Box

.custom-checkbox-rounded {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0px;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid $secondary;
    border-radius: 100%;
    background: $secondary-alt;
  }

  // Box checked
  &:checked + label:before {
    background: $success;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.custom-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0px;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid $secondary;
    border-radius: 4px;
    background: $secondary-alt;
  }

  // Box checked
  &:checked + label:before {
    background: $success;
    border: 0;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

// Custom Radio Button

.custom-radio {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0px;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid $secondary;
    border-radius: 100%;
    background: $secondary-alt;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    background: $success;
    border-radius: 100%;
    width: 10px;
    height: 10px;
  }
}

.pagination {
  .page-item {
    margin: 0 8px;
    .active {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $paragraph !important;
      background-color: $white;
      border-radius: 100%;
      box-shadow: 0px 4px 40px -8px $dark;
    }
    .controll-btn {
      padding: 36px 16px;
    }
    @media (min-width: 557px) {
      margin: 0 20px;
      .controll-btn {
        padding: 36px 20px;
      }
    }
    @media (min-width: 992px) {
      .controll-btn {
        padding: 36px 80px;
      }
    }
  }
}

.opacity-20 {
  opacity: 0.2;
}
